USE [master]
GO
/****** Object:  Database [PortalEmpleoDB]    Script Date: 22/5/2019 21:42:50 ******/
CREATE DATABASE [PortalEmpleoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PortalEmpleoDB', FILENAME = N'C:\Users\Diego Salazar Arp\PortalEmpleoDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PortalEmpleoDB_log', FILENAME = N'C:\Users\Diego Salazar Arp\PortalEmpleoDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PortalEmpleoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PortalEmpleoDB]
GO
USE [PortalEmpleoDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 22/5/2019 21:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Area]    Script Date: 22/5/2019 21:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Area](
	[Area_ID] [int] IDENTITY(1,1) NOT NULL,
	[Area_Nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Area_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 22/5/2019 21:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 22/5/2019 21:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 22/5/2019 21:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 22/5/2019 21:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 22/5/2019 21:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Rut] [int] NOT NULL,
	[Nombres] [nvarchar](max) NULL,
	[Apellidos] [nvarchar](max) NULL,
	[FechaNacimiento] [datetime] NOT NULL,
	[Telefono] [int] NOT NULL,
	[Direccion] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatosEmpresa]    Script Date: 22/5/2019 21:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatosEmpresa](
	[DatosEmpresa_ID] [nvarchar](128) NOT NULL,
	[Rut_Empresa] [int] NULL,
	[RazonS_Empresa] [varchar](50) NULL,
	[Web_Empresa] [varchar](50) NULL,
	[Rubro_Empresa] [varchar](50) NULL,
	[Descripcion] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[DatosEmpresa_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatosUsuario]    Script Date: 22/5/2019 21:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatosUsuario](
	[DatosUser_ID] [nvarchar](128) NOT NULL,
	[Educ_Sup] [int] NULL,
	[Jorn_Comp] [int] NULL,
	[Mov_Red] [int] NULL,
	[Tipo_trabajo] [int] NULL,
	[Profesion] [varchar](50) NULL,
	[Exper_lab] [varchar](50) NULL,
	[Habi_des] [varchar](300) NULL,
	[Resumen_cv] [varchar](300) NULL,
	[Nacionalidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DatosUser_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Educacion]    Script Date: 22/5/2019 21:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Educacion](
	[Edu_ID] [int] IDENTITY(1,1) NOT NULL,
	[Edu_Nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Edu_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 22/5/2019 21:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[Estado_ID] [int] IDENTITY(1,1) NOT NULL,
	[Estado_Nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Estado_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoPost]    Script Date: 22/5/2019 21:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoPost](
	[EstadoPost_ID] [int] IDENTITY(1,1) NOT NULL,
	[EstadoPost_Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_EstadoPost] PRIMARY KEY CLUSTERED 
(
	[EstadoPost_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jornada_Compl]    Script Date: 22/5/2019 21:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jornada_Compl](
	[Jornada_ID] [int] IDENTITY(1,1) NOT NULL,
	[Jornada_Nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Jornada_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movilidad]    Script Date: 22/5/2019 21:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movilidad](
	[Mov_ID] [int] IDENTITY(1,1) NOT NULL,
	[Mov_Nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Mov_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nacionalidad]    Script Date: 22/5/2019 21:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nacionalidad](
	[Nacionaldad_ID] [int] IDENTITY(1,1) NOT NULL,
	[Nacionalidad_Nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Nacionaldad_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OfertaLaboral]    Script Date: 22/5/2019 21:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OfertaLaboral](
	[Of_ID] [int] IDENTITY(1,1) NOT NULL,
	[OfEmp_ID] [int] NULL,
	[Of_Titulo] [varchar](50) NULL,
	[Of_Puesto] [varchar](50) NULL,
	[Of_Area] [int] NULL,
	[Of_Subarea] [int] NULL,
	[Of_Descrp] [varchar](300) NULL,
	[Of_Lugar] [varchar](50) NULL,
	[Of_Vacante] [int] NULL,
	[Of_FechaIn] [date] NULL,
	[Of_FechaFin] [date] NULL,
	[Of_Salario] [int] NULL,
	[Of_Jornada] [int] NULL,
	[Of_Mov] [int] NULL,
	[Of_Edu] [int] NULL,
	[Of_TContrato] [int] NULL,
	[Of_Estado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Of_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OfertaPostulante]    Script Date: 22/5/2019 21:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OfertaPostulante](
	[OfPost_ID] [int] IDENTITY(1,1) NOT NULL,
	[OfPostOf_ID] [int] NULL,
	[OfPostUsr_ID] [nvarchar](128) NULL,
	[OfPostFecha] [date] NULL,
	[OfPost_Estado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OfPost_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subarea]    Script Date: 22/5/2019 21:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subarea](
	[Subarea_ID] [int] IDENTITY(1,1) NOT NULL,
	[Subarea_Nombre] [varchar](50) NULL,
	[Subarea_Area_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Subarea_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoContrato]    Script Date: 22/5/2019 21:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoContrato](
	[TContrato_ID] [int] IDENTITY(1,1) NOT NULL,
	[TContrato_Nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TContrato_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoTrabajo]    Script Date: 22/5/2019 21:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoTrabajo](
	[TipoTrabajo_ID] [int] IDENTITY(1,1) NOT NULL,
	[TipoTrabajo_Nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoTrabajo_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voluntariado]    Script Date: 22/5/2019 21:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voluntariado](
	[Vol_ID] [int] IDENTITY(1,1) NOT NULL,
	[Vol_Autor_ID] [int] NULL,
	[Vol_Titulo] [varchar](50) NULL,
	[Vol_Puesto] [varchar](50) NULL,
	[Vol_Area] [int] NULL,
	[Vol_Subarea] [int] NULL,
	[Vol_Descp] [varchar](300) NULL,
	[Vol_Lugar] [varchar](50) NULL,
	[Vol_Vac] [int] NULL,
	[Vol_Vac_Disp] [int] NULL,
	[Vol_FechaIn] [date] NULL,
	[Vol_FechaFin] [date] NULL,
	[Vol_Jornada] [int] NULL,
	[Vol_Mov] [int] NULL,
	[Vol_Edu] [int] NULL,
	[Vol_TContrato] [int] NULL,
	[Vol_Estado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Vol_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VoluntariadoPostulante]    Script Date: 22/5/2019 21:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoluntariadoPostulante](
	[VolPost_ID] [int] IDENTITY(1,1) NOT NULL,
	[VolPost_Vol_ID] [int] NULL,
	[VolPostUsr_ID] [nvarchar](128) NULL,
	[VolPostFecha] [date] NULL,
	[VolPost_Estado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VolPost_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Area] ON 

INSERT [dbo].[Area] ([Area_ID], [Area_Nombre]) VALUES (1, N'Vigente')
INSERT [dbo].[Area] ([Area_ID], [Area_Nombre]) VALUES (2, N'Expirada')
INSERT [dbo].[Area] ([Area_ID], [Area_Nombre]) VALUES (4, NULL)
SET IDENTITY_INSERT [dbo].[Area] OFF
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Descripcion], [Discriminator]) VALUES (N'6f3ed187-b5e8-470b-b905-8dd162542299', N'Adulto Mayor', NULL, N'ApplicationRole')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Descripcion], [Discriminator]) VALUES (N'71f99c53-7336-493b-b92c-ffd429f8e467', N'Empresa', NULL, N'ApplicationRole')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Descripcion], [Discriminator]) VALUES (N'a765cb5f-137f-4fba-a1c8-ab905585d612', N'Voluntariado', NULL, N'ApplicationRole')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'14e818bc-df47-4f20-9658-e6992f2a77cc', N'a765cb5f-137f-4fba-a1c8-ab905585d612')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'19bc0c83-e3db-4d2e-9706-ed80e70af54e', N'71f99c53-7336-493b-b92c-ffd429f8e467')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2954c4cc-208c-4115-aa3e-db277e9a3d86', N'71f99c53-7336-493b-b92c-ffd429f8e467')
INSERT [dbo].[DatosEmpresa] ([DatosEmpresa_ID], [Rut_Empresa], [RazonS_Empresa], [Web_Empresa], [Rubro_Empresa], [Descripcion]) VALUES (N'19bc0c83-e3db-4d2e-9706-ed80e70af54e', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[DatosEmpresa] ([DatosEmpresa_ID], [Rut_Empresa], [RazonS_Empresa], [Web_Empresa], [Rubro_Empresa], [Descripcion]) VALUES (N'a452854f-88bb-43af-a0c9-5789c6714de7', 145258, N'asd', N'asdask', N'asdjk', N'askdj')
INSERT [dbo].[DatosEmpresa] ([DatosEmpresa_ID], [Rut_Empresa], [RazonS_Empresa], [Web_Empresa], [Rubro_Empresa], [Descripcion]) VALUES (N'bca2ea1b-717c-438b-be1d-c8918faf7ca0', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[DatosUsuario] ([DatosUser_ID], [Educ_Sup], [Jorn_Comp], [Mov_Red], [Tipo_trabajo], [Profesion], [Exper_lab], [Habi_des], [Resumen_cv], [Nacionalidad]) VALUES (N'2954c4cc-208c-4115-aa3e-db277e9a3d86', NULL, NULL, NULL, 1, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[DatosUsuario] ([DatosUser_ID], [Educ_Sup], [Jorn_Comp], [Mov_Red], [Tipo_trabajo], [Profesion], [Exper_lab], [Habi_des], [Resumen_cv], [Nacionalidad]) VALUES (N'3eef9792-7877-475e-8171-f691f4264590', 2, 1, 1, 2, NULL, N'asdasdklj', N'lkjashdkjahs', N'dahskjdhak', 1)
INSERT [dbo].[DatosUsuario] ([DatosUser_ID], [Educ_Sup], [Jorn_Comp], [Mov_Red], [Tipo_trabajo], [Profesion], [Exper_lab], [Habi_des], [Resumen_cv], [Nacionalidad]) VALUES (N'4e533e28-9d0a-4a64-87f0-f84820e7396d', 1, 1, 1, 1, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Educacion] ON 

INSERT [dbo].[Educacion] ([Edu_ID], [Edu_Nombre]) VALUES (1, N'Si')
INSERT [dbo].[Educacion] ([Edu_ID], [Edu_Nombre]) VALUES (2, N'No')
INSERT [dbo].[Educacion] ([Edu_ID], [Edu_Nombre]) VALUES (3, NULL)
SET IDENTITY_INSERT [dbo].[Educacion] OFF
SET IDENTITY_INSERT [dbo].[Estado] ON 

INSERT [dbo].[Estado] ([Estado_ID], [Estado_Nombre]) VALUES (1, N'Presencial')
INSERT [dbo].[Estado] ([Estado_ID], [Estado_Nombre]) VALUES (2, N'En casa o Remoto')
SET IDENTITY_INSERT [dbo].[Estado] OFF
SET IDENTITY_INSERT [dbo].[EstadoPost] ON 

INSERT [dbo].[EstadoPost] ([EstadoPost_ID], [EstadoPost_Nombre]) VALUES (1, N'Pendiente')
INSERT [dbo].[EstadoPost] ([EstadoPost_ID], [EstadoPost_Nombre]) VALUES (2, N'Aceptado')
SET IDENTITY_INSERT [dbo].[EstadoPost] OFF
SET IDENTITY_INSERT [dbo].[Jornada_Compl] ON 

INSERT [dbo].[Jornada_Compl] ([Jornada_ID], [Jornada_Nombre]) VALUES (1, N'Si')
INSERT [dbo].[Jornada_Compl] ([Jornada_ID], [Jornada_Nombre]) VALUES (2, N'No')
SET IDENTITY_INSERT [dbo].[Jornada_Compl] OFF
SET IDENTITY_INSERT [dbo].[Movilidad] ON 

INSERT [dbo].[Movilidad] ([Mov_ID], [Mov_Nombre]) VALUES (1, N'Si')
INSERT [dbo].[Movilidad] ([Mov_ID], [Mov_Nombre]) VALUES (2, N'No')
INSERT [dbo].[Movilidad] ([Mov_ID], [Mov_Nombre]) VALUES (3, NULL)
SET IDENTITY_INSERT [dbo].[Movilidad] OFF
SET IDENTITY_INSERT [dbo].[Nacionalidad] ON 

INSERT [dbo].[Nacionalidad] ([Nacionaldad_ID], [Nacionalidad_Nombre]) VALUES (1, N'Chilena')
INSERT [dbo].[Nacionalidad] ([Nacionaldad_ID], [Nacionalidad_Nombre]) VALUES (2, N'Argentina')
INSERT [dbo].[Nacionalidad] ([Nacionaldad_ID], [Nacionalidad_Nombre]) VALUES (3, N'Peruana')
SET IDENTITY_INSERT [dbo].[Nacionalidad] OFF
SET IDENTITY_INSERT [dbo].[OfertaLaboral] ON 

INSERT [dbo].[OfertaLaboral] ([Of_ID], [OfEmp_ID], [Of_Titulo], [Of_Puesto], [Of_Area], [Of_Subarea], [Of_Descrp], [Of_Lugar], [Of_Vacante], [Of_FechaIn], [Of_FechaFin], [Of_Salario], [Of_Jornada], [Of_Mov], [Of_Edu], [Of_TContrato], [Of_Estado]) VALUES (2, 123, N'1', N'1', 1, 1, NULL, NULL, NULL, NULL, NULL, NULL, 1, 1, 1, 1, 1)
INSERT [dbo].[OfertaLaboral] ([Of_ID], [OfEmp_ID], [Of_Titulo], [Of_Puesto], [Of_Area], [Of_Subarea], [Of_Descrp], [Of_Lugar], [Of_Vacante], [Of_FechaIn], [Of_FechaFin], [Of_Salario], [Of_Jornada], [Of_Mov], [Of_Edu], [Of_TContrato], [Of_Estado]) VALUES (3, 1, N'Empresa b', NULL, 1, 1, NULL, NULL, NULL, NULL, NULL, NULL, 1, 1, 3, 1, 1)
INSERT [dbo].[OfertaLaboral] ([Of_ID], [OfEmp_ID], [Of_Titulo], [Of_Puesto], [Of_Area], [Of_Subarea], [Of_Descrp], [Of_Lugar], [Of_Vacante], [Of_FechaIn], [Of_FechaFin], [Of_Salario], [Of_Jornada], [Of_Mov], [Of_Edu], [Of_TContrato], [Of_Estado]) VALUES (19, 123123, N'Analista de sistemas', N'Ejemplo, puesto de trabajo', 1, 3, N'Se requiere a persona que...', N'Ejemplo, lugar de trabajo', 1, CAST(N'2019-05-18' AS Date), CAST(N'2019-05-17' AS Date), 500000, 1, 1, 1, 2, 1)
SET IDENTITY_INSERT [dbo].[OfertaLaboral] OFF
SET IDENTITY_INSERT [dbo].[OfertaPostulante] ON 

INSERT [dbo].[OfertaPostulante] ([OfPost_ID], [OfPostOf_ID], [OfPostUsr_ID], [OfPostFecha], [OfPost_Estado]) VALUES (48, 3, N'3eef9792-7877-475e-8171-f691f4264590', CAST(N'2019-03-30' AS Date), NULL)
INSERT [dbo].[OfertaPostulante] ([OfPost_ID], [OfPostOf_ID], [OfPostUsr_ID], [OfPostFecha], [OfPost_Estado]) VALUES (10093, 1059, N'4e533e28-9d0a-4a64-87f0-f84820e7396d', CAST(N'2019-05-22' AS Date), 1)
INSERT [dbo].[OfertaPostulante] ([OfPost_ID], [OfPostOf_ID], [OfPostUsr_ID], [OfPostFecha], [OfPost_Estado]) VALUES (11093, 2059, N'4e533e28-9d0a-4a64-87f0-f84820e7396d', CAST(N'2019-05-22' AS Date), 1)
SET IDENTITY_INSERT [dbo].[OfertaPostulante] OFF
SET IDENTITY_INSERT [dbo].[Subarea] ON 

INSERT [dbo].[Subarea] ([Subarea_ID], [Subarea_Nombre], [Subarea_Area_ID]) VALUES (1, N'Administración: Administración', 1)
INSERT [dbo].[Subarea] ([Subarea_ID], [Subarea_Nombre], [Subarea_Area_ID]) VALUES (2, N'Administración: Contabilidad', 1)
INSERT [dbo].[Subarea] ([Subarea_ID], [Subarea_Nombre], [Subarea_Area_ID]) VALUES (3, N'Administración: Control de Gestión', 1)
SET IDENTITY_INSERT [dbo].[Subarea] OFF
SET IDENTITY_INSERT [dbo].[TipoContrato] ON 

INSERT [dbo].[TipoContrato] ([TContrato_ID], [TContrato_Nombre]) VALUES (1, N'A plazo')
INSERT [dbo].[TipoContrato] ([TContrato_ID], [TContrato_Nombre]) VALUES (2, N'Contrato indefinido/Cualquera opción Legal')
SET IDENTITY_INSERT [dbo].[TipoContrato] OFF
SET IDENTITY_INSERT [dbo].[TipoTrabajo] ON 

INSERT [dbo].[TipoTrabajo] ([TipoTrabajo_ID], [TipoTrabajo_Nombre]) VALUES (1, N'Presencial')
INSERT [dbo].[TipoTrabajo] ([TipoTrabajo_ID], [TipoTrabajo_Nombre]) VALUES (2, N'En casa o Remoto')
SET IDENTITY_INSERT [dbo].[TipoTrabajo] OFF
SET IDENTITY_INSERT [dbo].[Voluntariado] ON 

INSERT [dbo].[Voluntariado] ([Vol_ID], [Vol_Autor_ID], [Vol_Titulo], [Vol_Puesto], [Vol_Area], [Vol_Subarea], [Vol_Descp], [Vol_Lugar], [Vol_Vac], [Vol_Vac_Disp], [Vol_FechaIn], [Vol_FechaFin], [Vol_Jornada], [Vol_Mov], [Vol_Edu], [Vol_TContrato], [Vol_Estado]) VALUES (1, 123123, N'asdasd', N'123', 1, 1, N'asda', N'123', 1, 10, CAST(N'2019-03-19' AS Date), CAST(N'2019-03-09' AS Date), 1, 1, 1, 1, 1)
INSERT [dbo].[Voluntariado] ([Vol_ID], [Vol_Autor_ID], [Vol_Titulo], [Vol_Puesto], [Vol_Area], [Vol_Subarea], [Vol_Descp], [Vol_Lugar], [Vol_Vac], [Vol_Vac_Disp], [Vol_FechaIn], [Vol_FechaFin], [Vol_Jornada], [Vol_Mov], [Vol_Edu], [Vol_TContrato], [Vol_Estado]) VALUES (2, 123456, N'oferta vol 1', N'asldasd', NULL, 1, N'asdalksd', N'asdasd', 10, 9, CAST(N'2019-04-20' AS Date), CAST(N'2019-04-20' AS Date), 1, 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Voluntariado] OFF
SET IDENTITY_INSERT [dbo].[VoluntariadoPostulante] ON 

INSERT [dbo].[VoluntariadoPostulante] ([VolPost_ID], [VolPost_Vol_ID], [VolPostUsr_ID], [VolPostFecha], [VolPost_Estado]) VALUES (1008, 1, N'4e533e28-9d0a-4a64-87f0-f84820e7396d', CAST(N'2019-04-20' AS Date), 1)
SET IDENTITY_INSERT [dbo].[VoluntariadoPostulante] OFF
ALTER TABLE [dbo].[AspNetRoles] ADD  DEFAULT ('') FOR [Discriminator]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [Rut]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [FechaNacimiento]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [Telefono]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[DatosEmpresa]  WITH CHECK ADD  CONSTRAINT [FK_DatosEmpresa_AspNetUsers] FOREIGN KEY([DatosEmpresa_ID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[DatosEmpresa] CHECK CONSTRAINT [FK_DatosEmpresa_AspNetUsers]
GO
ALTER TABLE [dbo].[DatosUsuario]  WITH CHECK ADD  CONSTRAINT [FK_DatosUsuario_AspNetUsers] FOREIGN KEY([DatosUser_ID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[DatosUsuario] CHECK CONSTRAINT [FK_DatosUsuario_AspNetUsers]
GO
ALTER TABLE [dbo].[DatosUsuario]  WITH CHECK ADD  CONSTRAINT [FK_DatosUsuario_Nacionalidad] FOREIGN KEY([Nacionalidad])
REFERENCES [dbo].[Nacionalidad] ([Nacionaldad_ID])
GO
ALTER TABLE [dbo].[DatosUsuario] CHECK CONSTRAINT [FK_DatosUsuario_Nacionalidad]
GO
ALTER TABLE [dbo].[DatosUsuario]  WITH CHECK ADD  CONSTRAINT [FK_DatosUsuario_TipoTrabajo] FOREIGN KEY([Tipo_trabajo])
REFERENCES [dbo].[TipoTrabajo] ([TipoTrabajo_ID])
GO
ALTER TABLE [dbo].[DatosUsuario] CHECK CONSTRAINT [FK_DatosUsuario_TipoTrabajo]
GO
ALTER TABLE [dbo].[OfertaLaboral]  WITH CHECK ADD  CONSTRAINT [FK_OfertaLaboral_Area] FOREIGN KEY([Of_Area])
REFERENCES [dbo].[Area] ([Area_ID])
GO
ALTER TABLE [dbo].[OfertaLaboral] CHECK CONSTRAINT [FK_OfertaLaboral_Area]
GO
ALTER TABLE [dbo].[OfertaLaboral]  WITH CHECK ADD  CONSTRAINT [FK_OfertaLaboral_Educacion] FOREIGN KEY([Of_Edu])
REFERENCES [dbo].[Educacion] ([Edu_ID])
GO
ALTER TABLE [dbo].[OfertaLaboral] CHECK CONSTRAINT [FK_OfertaLaboral_Educacion]
GO
ALTER TABLE [dbo].[OfertaLaboral]  WITH CHECK ADD  CONSTRAINT [FK_OfertaLaboral_Estado] FOREIGN KEY([Of_Estado])
REFERENCES [dbo].[Estado] ([Estado_ID])
GO
ALTER TABLE [dbo].[OfertaLaboral] CHECK CONSTRAINT [FK_OfertaLaboral_Estado]
GO
ALTER TABLE [dbo].[OfertaLaboral]  WITH CHECK ADD  CONSTRAINT [FK_OfertaLaboral_Jornada_Compl] FOREIGN KEY([Of_Jornada])
REFERENCES [dbo].[Jornada_Compl] ([Jornada_ID])
GO
ALTER TABLE [dbo].[OfertaLaboral] CHECK CONSTRAINT [FK_OfertaLaboral_Jornada_Compl]
GO
ALTER TABLE [dbo].[OfertaLaboral]  WITH CHECK ADD  CONSTRAINT [FK_OfertaLaboral_Movilidad] FOREIGN KEY([Of_Mov])
REFERENCES [dbo].[Movilidad] ([Mov_ID])
GO
ALTER TABLE [dbo].[OfertaLaboral] CHECK CONSTRAINT [FK_OfertaLaboral_Movilidad]
GO
ALTER TABLE [dbo].[OfertaLaboral]  WITH CHECK ADD  CONSTRAINT [FK_OfertaLaboral_Subarea] FOREIGN KEY([Of_Subarea])
REFERENCES [dbo].[Subarea] ([Subarea_ID])
GO
ALTER TABLE [dbo].[OfertaLaboral] CHECK CONSTRAINT [FK_OfertaLaboral_Subarea]
GO
ALTER TABLE [dbo].[OfertaLaboral]  WITH CHECK ADD  CONSTRAINT [FK_OfertaLaboral_TipoContrato] FOREIGN KEY([Of_TContrato])
REFERENCES [dbo].[TipoContrato] ([TContrato_ID])
GO
ALTER TABLE [dbo].[OfertaLaboral] CHECK CONSTRAINT [FK_OfertaLaboral_TipoContrato]
GO
ALTER TABLE [dbo].[OfertaPostulante]  WITH CHECK ADD  CONSTRAINT [FK_OfertaPostulante_AspNetUsers] FOREIGN KEY([OfPostUsr_ID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[OfertaPostulante] CHECK CONSTRAINT [FK_OfertaPostulante_AspNetUsers]
GO
ALTER TABLE [dbo].[OfertaPostulante]  WITH CHECK ADD  CONSTRAINT [FK_OfertaPostulante_EstadoPost] FOREIGN KEY([OfPost_Estado])
REFERENCES [dbo].[EstadoPost] ([EstadoPost_ID])
GO
ALTER TABLE [dbo].[OfertaPostulante] CHECK CONSTRAINT [FK_OfertaPostulante_EstadoPost]
GO
ALTER TABLE [dbo].[OfertaPostulante]  WITH CHECK ADD  CONSTRAINT [FK_OfertaPostulante_OfertaLaboral] FOREIGN KEY([OfPostOf_ID])
REFERENCES [dbo].[OfertaLaboral] ([Of_ID])
GO
ALTER TABLE [dbo].[OfertaPostulante] CHECK CONSTRAINT [FK_OfertaPostulante_OfertaLaboral]
GO
ALTER TABLE [dbo].[Subarea]  WITH CHECK ADD  CONSTRAINT [FK_Subarea_Area] FOREIGN KEY([Subarea_Area_ID])
REFERENCES [dbo].[Area] ([Area_ID])
GO
ALTER TABLE [dbo].[Subarea] CHECK CONSTRAINT [FK_Subarea_Area]
GO
ALTER TABLE [dbo].[Voluntariado]  WITH CHECK ADD  CONSTRAINT [FK_Voluntariado_Area] FOREIGN KEY([Vol_Area])
REFERENCES [dbo].[Area] ([Area_ID])
GO
ALTER TABLE [dbo].[Voluntariado] CHECK CONSTRAINT [FK_Voluntariado_Area]
GO
ALTER TABLE [dbo].[Voluntariado]  WITH CHECK ADD  CONSTRAINT [FK_Voluntariado_Educacion] FOREIGN KEY([Vol_Edu])
REFERENCES [dbo].[Educacion] ([Edu_ID])
GO
ALTER TABLE [dbo].[Voluntariado] CHECK CONSTRAINT [FK_Voluntariado_Educacion]
GO
ALTER TABLE [dbo].[Voluntariado]  WITH CHECK ADD  CONSTRAINT [FK_Voluntariado_Estado] FOREIGN KEY([Vol_Estado])
REFERENCES [dbo].[Estado] ([Estado_ID])
GO
ALTER TABLE [dbo].[Voluntariado] CHECK CONSTRAINT [FK_Voluntariado_Estado]
GO
ALTER TABLE [dbo].[Voluntariado]  WITH CHECK ADD  CONSTRAINT [FK_Voluntariado_Jornada_Compl] FOREIGN KEY([Vol_Jornada])
REFERENCES [dbo].[Jornada_Compl] ([Jornada_ID])
GO
ALTER TABLE [dbo].[Voluntariado] CHECK CONSTRAINT [FK_Voluntariado_Jornada_Compl]
GO
ALTER TABLE [dbo].[Voluntariado]  WITH CHECK ADD  CONSTRAINT [FK_Voluntariado_Movilidad] FOREIGN KEY([Vol_Mov])
REFERENCES [dbo].[Movilidad] ([Mov_ID])
GO
ALTER TABLE [dbo].[Voluntariado] CHECK CONSTRAINT [FK_Voluntariado_Movilidad]
GO
ALTER TABLE [dbo].[Voluntariado]  WITH CHECK ADD  CONSTRAINT [FK_Voluntariado_Subarea] FOREIGN KEY([Vol_Subarea])
REFERENCES [dbo].[Subarea] ([Subarea_ID])
GO
ALTER TABLE [dbo].[Voluntariado] CHECK CONSTRAINT [FK_Voluntariado_Subarea]
GO
ALTER TABLE [dbo].[Voluntariado]  WITH CHECK ADD  CONSTRAINT [FK_Voluntariado_TipoContrato] FOREIGN KEY([Vol_TContrato])
REFERENCES [dbo].[TipoContrato] ([TContrato_ID])
GO
ALTER TABLE [dbo].[Voluntariado] CHECK CONSTRAINT [FK_Voluntariado_TipoContrato]
GO
ALTER TABLE [dbo].[VoluntariadoPostulante]  WITH CHECK ADD  CONSTRAINT [FK_VoluntariadoPostulante_AspNetUsers] FOREIGN KEY([VolPostUsr_ID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[VoluntariadoPostulante] CHECK CONSTRAINT [FK_VoluntariadoPostulante_AspNetUsers]
GO
ALTER TABLE [dbo].[VoluntariadoPostulante]  WITH CHECK ADD  CONSTRAINT [FK_VoluntariadoPostulante_EstadoPost] FOREIGN KEY([VolPost_Estado])
REFERENCES [dbo].[EstadoPost] ([EstadoPost_ID])
GO
ALTER TABLE [dbo].[VoluntariadoPostulante] CHECK CONSTRAINT [FK_VoluntariadoPostulante_EstadoPost]
GO
ALTER TABLE [dbo].[VoluntariadoPostulante]  WITH CHECK ADD  CONSTRAINT [FK_VoluntariadoPostulante_Voluntariado] FOREIGN KEY([VolPost_Vol_ID])
REFERENCES [dbo].[Voluntariado] ([Vol_ID])
GO
ALTER TABLE [dbo].[VoluntariadoPostulante] CHECK CONSTRAINT [FK_VoluntariadoPostulante_Voluntariado]
GO
USE [master]
GO
